:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(200, 199, 199);
}

a {
  color: inherit;
  text-decoration: none;
}

/*NAVBAR*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.homeIcon {
  font-size: 30px;
  gap: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-icon {
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  margin-right: 8px; /* Adjust margin as needed */
}

.search-input {
  padding: 8px;
  width: 200px;

  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #d6d5d5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-icon.active + .search-bar {
  display: flex;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 15px;
  background-color: white;
  color: rgb(41, 35, 35);
  height: 30px;
}

.redditLogo {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
/*REGISTER*/
.register-container {
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authLogo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.auth-input-field {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-button,
.google-button {
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in-link {
  margin-top: 10px;
  text-align: center;
}
.pTag-auth {
  font-size: 13px;
}

.signIn-link {
  color: #4caf50;
}

/*HEADER*/
/*.header-gray {
  background-color: rgb(176, 175, 175);
  margin: auto;
  height: 80px;
  max-width: auto;
  position: relative;
}*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.header-sub-content {
  flex-grow: 1;
  text-align: center;
}
/* display: flex;
  flex-direction: column;
  padding-left: 20px;*/

.header-buttons {
  display: flex;
  gap: 30px;
}
.header-button {
  padding: 10px;
  background-color: #8d8c8c;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.joined-button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

hr {
  border: 1px solid #ccc;
  margin-top: 0px;
}

/*CREATE POST BUTTON*/
.createPostShortCut {
  display: flex;
  gap: 30px;
  padding: 10px;
  width: 600px;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userRound {
  font-size: 25px;
}

.createPostShortCut-button {
  width: 150px;
  height: 35px;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/*SUBREDDITS*/

.subreddits-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #8d8c8c;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  gap: 20px;
}

.create-subreddit-button {
  margin: auto;
  padding: 10px;
  background-color: #f8f3f3;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subreddit {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
}

.subredditId-Maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #8d8c8c;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  gap: 20px;
}

/*CREATE SUBREDDIT CONTAINER*/
.create-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  background-color: #f0f0f0;
  border: 1px solid #8d8c8c;
  padding: 30px;
  border-radius: 5px;
}

.subreddit-input {
  background-color: #f8f3f3;
  border-radius: 5px;
  height: 30px;
  width: 150px;
}

.create-subreddit-buttons {
  margin: 5px;
}

.newPost-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  background-color: #f0f0f0;
  border: 1px solid #8d8c8c;
  padding: 30px;
  border-radius: 5px;
  margin: 10px;
}

hr {
  color: black;
}

select {
  font-size: 20px;
  margin-bottom: 10px;
}

.newPostForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.newPostInput {
  height: 20px;
  width: 230px;
}

.create-post-button {
  width: 100px;
  border-radius: 5px;
}

.userAstro {
  font-size: 25px;
  padding-right: 5px;
}

/*POSTHOME*/
.votes-container {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
  font-size: 25px;
}

.postedItem-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  width: 600px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.buttons-postedItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

/*MAINPOST*/

.mainPost-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 600px;
  padding: 10px;
}

.editDeleteButton {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 10px;
}

.editButton {
  background-color: white;
  border: none;
  width: 20px;
  cursor: pointer;
  height: 25px;
  width: 25px;
  font-size: 30px;
}

.deleteButton {
  width: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid #8d8c8c;
  width: 100px;
  height: 25px;
  cursor: pointer;
}

.deleteButton :hover {
  background-color: red;
}

/*CREATE COMMENT*/

.createComment-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 600px;
  padding: 10px;
}
